body{
    background-color: black;
    overflow-x: hidden;
}

#backgroundimage{
    background-image: url(https://www.linkpicture.com/q/image_327.jpg);
    width: 100%;
    height: 700px;
    image-resolution: 0.9;
}

#netfliximage{
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 30px;
    filter: brightness(100%);
}

#imagetext{
    width: 730px;
    height: 300px;
    margin-left: 380px;
    margin-top: 230px;
    position: absolute;
}

#imagetext>span{
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#imagetext>p{
    font-size: 20px;
    color: white;
    margin-right: 45px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#search{
    width: 600px;
    height: 50px;
    position: absolute;
    margin-top: 480px;
    margin-left: 380px;
}

#search2{
    width: 600px;
    height: 50px;
    margin-left: 240px;
}

#button{
    width: 150px;
    height: 40px;
    margin-left: 1200px;
    position: absolute;
    margin-top:35px;
}

#coupon{
    width: 650px;
    height:350px;
    margin-left: 370px;
    position: absolute;
    z-index: 99;
    background-color: #f84c26;
    opacity: 2;
    margin-top: 180px;
}

#closebutton{
    border: none;
    background-color: #f84c26;
    color: white;
    font-size: 25px;
}

.darkmode{
    background-color: red;
    color: black;
}

#darkmodebutton{
    background-color: black;
    color: white;
    border: 1px solid white;
}

#myvideo{
    position: absolute;
}

#myvideo2{
    width: 300px;
    height: 350px;
    position: absolute;
}

#location{
    background-color: white;
    color: blue;
    display: none;
    height: 30px;
}

#out{
    color: white;
    font-size: 30px;
}

#weatherout{
    color: white;
    font-size: 30px;
}

