body{
    background-color:#000;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.darkmode{
    background-color: white;
    color: black;
}

#backgroundimage{
    background-image: url(https://www.linkpicture.com/q/image_327.jpg);
    width: 100%;
    height: 700px;
    image-resolution: 0.9;
}

#netfliximage{
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 30px;
    filter: brightness(100%);
}

#imagetext{
    width: 730px;
    height: 300px;
    margin-left: 380px;
    margin-top: 230px;
    position: absolute;
}

#imagetext>span{
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#imagetext>p{
    font-size: 20px;
    color: white;
    margin-right: 45px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#search{
    width: 600px;
    height: 50px;
    position: absolute;
    margin-top: 480px;
    margin-left: 380px;
}

#button{
    width: 150px;
    height: 40px;
    margin-left: 1200px;
    position: absolute;
    margin-top:35px;
}

@media screen {
    
}